body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
   font-family: 'Fredoka One', sans-serif;
}
.skor{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.skorX, .skorO{
    font-size: 2rem;
    border:1px solid black;
    padding: 10px 30px;
}
.container{
    width: 300px;
    height: 300px;
    padding:10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border:1px solid black;
}
.box{
    font-weight: bold;
    font-size: 3rem;
    width: 80px;
    height: 80px;
    margin:2px;
    border:1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 45px;
    cursor:pointer;
    transition: all ease-in-out;
}
#pesan{
    font-size: 2rem;
    /* font-weight: bold; */
    margin-bottom: 5px;
}

button{
    width: 150px;
    font-size: 1.2rem;
    height: 40px;
    background-color: #57606f;
    color: white;
    border-radius: 8px;
    margin:0;
    border:none;
    font-weight: bold;
    cursor:pointer;
    display: none;
}